<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">

<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cupiditate iusto dicta eos, rem non, eius culpa repudiandae deleniti sit iure reiciendis recusandae vitae aut illum a ipsa dolor amet?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cupiditate iusto dicta eos, rem non, eius culpa repudiandae deleniti sit iure reiciendis recusandae vitae aut illum a ipsa dolor amet?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla cupiditate iusto dicta eos, rem non, eius culpa repudiandae deleniti sit iure reiciendis recusandae vitae aut illum a ipsa dolor amet?
  </p>
</section>
