<h1 class="text-3xl">Listado de Pokémon</h1>
<h2 class="text-xl">Página actual: {{currentPage()}}</h2>

<hr class="my-2">

@if (pokemons()) {
<pokemon-list [pokemons]="pokemons()" />
}@else {
<pokemon-list-skeleton />
}

<!-- Versión con query parameters http://localhost:4200/pokemons?page=1 -->
<!-- <div class="flex justify-between">
  <button (click)="loadPokemons(-1)" class="mt-2">Anteriores</button>
  <button (click)="loadPokemons(+1)" class="mt-2">Siguientes</button>
</div> -->

<!-- Versión con segmento de pagina http://localhost:4200/pokemons/page/1 -->
<div class="flex justify-between">
  <button class="mt-2" [routerLink]="['/pokemons/page', currentPage()! - 1]" [disabled]="currentPage() === 1" >Anteriores</button>
  <button class="mt-2" [routerLink]="['/pokemons/page', currentPage()! + 1]">Siguientes</button>
</div>
